.l--site-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.l--blog {
  margin: auto;
  padding: 2rem;
  position: relative;
}

.l--projects {
  background-color: #444;
  color: #fff;
}
