.cmp-project {
  background-color: #222;
  color: #fff;

  &__wrapper {
    margin: auto;
    padding: 1rem 2rem;

    @media (min-width: $bp-sm) {
      max-width: 60vw;
      padding: 1rem 0;
    }
  }

  &__title {
    display: inline-block;
    font-size: 2rem;
    padding: 0.25rem 0.75rem;
    border-radius: 0.125rem;
    margin-bottom: 0.75rem;
  }

  &__description {
    display: inline;
    padding-bottom: 0.25rem;
    vertical-align: text-top;
  }

  &__link {
    color: #fff;
    text-decoration: none; 
    text-transform: lowercase;
    display: block;
    position: relative;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 20rem;
    padding: 0.5rem;

    &::after {
      content: '▶';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 0.75rem; 
      height: 0.75rem;
      color: white; 
    }

    h2 {
      font-size: 1rem;
      display: inline-block;
    }
  }

  &__info {
    display: none;
  }
}

.feather-folder {
  display: inline-block;
}
